.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}

header {
  background-color: rgba(0, 28, 121, 0.4);
  padding: 1.5rem 0;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.menus img {
  height: 50px;
  width: auto;
  display: block;
}

.menus {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav ul li {
  margin: 0 1rem;
  display: flex;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
}

nav ul li a:hover {
  background-color: rgba(255, 255, 255, 0.15);
  transform: scale(1.1);
}

nav ul li a.active {
  background-color: #fff;
  color: #000;
  font-weight: 500;
  border-radius: 6px;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.nav-icn {
  font-size: 18px;
  font-weight: 600;
}

.btn {
  color: #fff;
  font-size: 1.3rem;
  cursor: pointer;
  display: none;
}

.logout-btn {
  background: transparent;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: all 0.3s ease-in-out;
}

.logout-btn:hover {
  transform: scale(1.1);
  color: #ffd700;
}

@media (max-width: 768px) {
  .btn {
    display: block;
  }

  nav ul {
    flex-direction: column;
    position: fixed;
    width: 300px;
    height: 100vh;
    top: 0;
    right: -100%;
    background-color: rgba(0, 28, 121, 0.85);
    backdrop-filter: blur(15px);
    padding: 5rem 0;
    text-align: center;
    transition: all 0.5s ease-in-out;
    z-index: 999;
  }

  nav ul.display {
    right: 0;
  }

  nav ul li {
    margin: 1.5rem 0;
  }

  .close-btn {
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    font-size: 1.5rem;
  }
}
