.register-face-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  color: #fff;
  backdrop-filter: blur(40px);
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  max-width: 600px;
  margin: 50px auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.register-face-container h2 {
  margin-bottom: 20px;
  font-size: 28px;
}

video {
  border-radius: 8px;
  margin-bottom: 20px;
  border: 2px solid rgba(255, 255, 255, 0.3);
}

button {
  background-color: #1d70dbde;
  color: #fff;
  font-weight: 700;
  border: none;
  padding: 12px 25px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #104dab;
}

.status {
  margin-top: 20px;
  font-size: 16px;
}
